# Development settings
.idea/
.vscode/
.fleet/
Doopass/Properties/
Doopass/appsettings.Development.json
Doopass.sln.DotSettings.user

# Development scripts
dbCompose.yml
add_users.py
run

# Build dirs
*/bin/
*/obj/
publish/
BCrypt/Release/
BCrypt/*/bin/
BCrypt/*/obj/

build.log
.fake
